/*Style do css para o componente angular tree*/
/*Inicio do tree*/
.angular-ui-tree-handle {
    background: none repeat scroll 0 0 #f3f3f4;
    border: 1px dashed #e7eaec;
    color: inherit;
    padding: 10px;
    font-weight: normal;
}

.angular-ui-tree-handle:hover {
    font-weight: bold;
    cursor: pointer;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 1px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.tree-node {
    background: none repeat scroll 0 0 #f3f3f4;
    border: 1px dashed #e7eaec;
    color: inherit;
    padding: 10px;
    border-radius: 3px;
}

.tree-node .btn {
    min-width: 22px;
    margin-right: 4px;
}

.tree-node-content {
    margin: 5px 5px 5px 0;
}

.tree-handle {
    background: none repeat scroll 0 0 #f3f3f4;
    border: 1px dashed #e7eaec;
    color: inherit;
    padding: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 1px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dados-center {
    margin-left: 15%;
}

@media screen and (max-width: 992px) {
    .dados-center {
        margin-left: 15%;
    }
}

/*Fim tree*/

.input-lg-ct {
    font-size: 20px !important;
    text-align: center;
}

.input-lg-ct-product {
    font-size: 15px !important;
    /*text-align: center;*/
}

.input-lg-color {
    font-size: 19px !important;
    color: #2F84D5;
    /*text-align: center;*/
}

.input-ct {
    font-size: 16px !important;
    text-align: center;
}

.panel-fixo {
    position: fixed !important;
    top: 0;
    z-index: 1000;
}

.custom-input {
    text-align: -webkit-right;
    font-weight: bold;
    font-size: 16px !important;
}

.input-custom {
    font-weight: bold;
    text-align: -webkit-right;
}

.bg-red {
    color: red !important;
}

.button-green {
    background-color: #67E659;
    color: #ffffff;
}

.button-blue {
    background-color: #6CD9C3;
}

.align-btn {
    margin-top: 23px;
}

.custom-scroll {
    /*height: 284px;*/
    /*max-height: 284px;*/
    overflow-x: hidden;
    overflow-y: scroll;
}

.background-white {
    background-color: #fff !important;
}

.align-dir {
    text-align: -webkit-right;
}

.custom-span {
    margin-top: 7px;
    margin-left: 15px;
    font-size: 15px;
}

.custom-label-days {
    margin-left: -20px;
    font-size: 13px;
    margin-top: 7px;
}

.txt-exchange {
    text-align: justify !important;
}

.height-invoice {
    height: 330px;
    max-height: 330px;
}

.custom-modal {
    background-color: #000;
}

.hidden-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-t {
    padding-top: 10px !important;
}

.n-p {
    padding: 0 !important;
}

.n-p-r {
    padding-right: 0 !important;
}

.n-p-b {
    padding-bottom: 0 !important;
}
.n-p-t {
    padding-top: 0 !important;
}

.n-m-b {
    margin-bottom: 0 !important;
}

.ta-r {
    text-align: right;
}

.wrapper-content-n-p-r {
    padding: 20px 0px 40px !important;
}

.title-product {
    font-size: 18px;
    font-weight: bold;
}

.align-btns {
    margin-left: 15px;
}

.scroll-exchange {
    max-height: 321px;
    overflow-y: auto;
}

.scroll-movementstock {
    max-height: 620px;
    overflow: auto;
}

.scroll-inventory {
    max-height: 240px;
    overflow-y: auto;
}

.scroll-inventorycount {
    max-height: 420px;
    overflow-y: auto;
}

.b {
    font-weight: bold;
}

.background-color-grid {
    background-color: #F5F5F6;
}

.inline-box {
    display: inline-box;
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.data-cancellation {
    font-weight: bold;
    cursor: pointer;
    color: red;
}

.display-box {
    display: -webkit-box;
    display: -moz-box;
}

.wave-spinner > div {
    background-color: #1ab394 !important;
}

.grands-spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 15%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.26);
    padding-left: 12%;
}

.text-primary {
    color: #1ab394 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.ace_editor {
    height: 50px;
    border: #E5E6E7 solid 1px;
}

.dropdown-custom {
    left: auto !important;
    right: auto !important;
    width: 240px !important;
    max-height: 180px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.ibox-title-label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.list-10-scroll {
    max-height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-5-scroll{
    max-height: 115px;
    overflow-y: auto;
}

.align-justify {
    text-align: justify;
}

.input-disabled {
    background-color: #FFF !important;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.input-amount {
    text-align: -webkit-right;
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: -moz-right;
}

.img-style {
    height: 200px;
    border-color: #EEEEEE;
    border-width: 2px;
    border-style: solid;
}

.input-code-balance {
    background-color: #FAF5E2;
    font-size: 24px;
}

.input-weight {
    text-align: -webkit-right;
    text-align: -moz-right;
    font-size: 24px;
}

.title-modal {
    background-color: #31918C;
    color: #fff;
    text-align: center;
}

.badge-white {
    background-color: #FFF;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}

.banner {
    height: 200px !important;
}

.hide{
    display: none !important;
}

.n-m{
    margin: 0!important;
}

.custom-image {
    height: 198px;
    border-color: #EEEEEE;
    border-width: 2px;
    background-color: whitesmoke;
    border-style: solid;
    margin-top: -10px;
}

.img-consigned-sale {
    width: 213px;
    height: 213px;
    border-color: #EEEEEE;
    border-width: 2px;
    background-color:
    whitesmoke;border-style: solid;
}

.text-left {
    margin-left: -50px;
}

.big-table{
    width: 1500px;
}

.modal-larger{
    width: 90%
}

div[data-notify].alert {
    z-index: 9999999;
}

.menu-item{
    color: #A7B1C2!important;
}

.m-t-label{
    margin-top: 23px;
}

.dropdown-menu > li > a {
    margin: 0!important;
}

.resize-none{
    resize: none;
}

.required-label:before{
    color: red;
    content: "*";
    padding-left: 5px;
}