<form name="PersonForm">

    <div>
        <div class="row">
            <div class="col-lg-4">

                <treecontrol
                        class="tree-light"
                        tree-model="personTree"
                        on-selection="selectNode(node,$parentNode)"
                        options="treeOptions"
                        selected-node="currentNode">
                    Empresa: {{node.name}}
                </treecontrol>
            </div>
            <div class="col-lg-8">
                <ul class=" nav nav-tabs gmd" role="tablist">
                    <li role="presentation" class="active"><a href="#organization" aria-controls="organization"
                                                              role="tab" data-toggle="tab">Organização</a></li>
                    <li role="presentation" ng-if="currentCompany.id"><a href="#user" aria-controls="user" role="tab"
                                                                         data-toggle="tab">Usuários</a></li>
                    <li role="presentation" ng-if="currentCompany.id"><a href="#instance" aria-controls="user"
                                                                         role="tab" data-toggle="tab">Instâncias</a>
                    </li>
                    <li role="presentation" ng-if="currentCompany.id"><a href="#role" aria-controls="user" role="tab"
                                                                         data-toggle="tab">Perfis</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="organization" style="margin-top:30px">

                        <gmd-input>
                            <div class="form-group gmd">
                                <input type="text" class="form-control gmd" ng-model="currentCompany.name" id="name"
                                       required
                                       autocomplete="off">
                                <span class="bar"></span>
                                <label for="name" class="control-label" gumga-translate-tag="person.name">Nome/Razão
                                    Social</label>
                            </div>
                        </gmd-input>

                        <gmd-select ng-model="role"
                                    options="roleCategories"
                                    option="name"
                                    placeholder="Selecione um tipo de Pessoa">
                        </gmd-select>


                        <div style="margin-top:15px">
                            <label gumga-translate-tag="person.father">Father</label>
                            <gumga-many-to-one
                                    value="currentCompany.father"
                                    search-method="getPerson(param)"
                                    field="name"
                                    authorize-add="false"
                                    display-info="false"
                                    disabled="!!currentCompany.id"
                                    on-select="getFatherFat(value)">
                                <match>
                                    <div>{{match.model.name}}, CNPJ: {{match.model.cnpj.value | cnpj}}</div>
                                </match>
                            </gumga-many-to-one>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="user" style="margin-top:30px">
                        <gmd-input>
                            <div class="form-group gmd">
                                <input type="text" class="form-control gmd" ng-model="currentUser.name" id="username"
                                       required
                                       autocomplete="off">
                                <span class="bar"></span>
                                <label for="username" class="control-label" gumga-translate-tag="user.name">Nome de Usuário</label>
                            </div>
                        </gmd-input>

                        <div style="margin-top:15px">
                            <label gumga-translate-tag="user.role">Papel</label>
                            <gumga-many-to-one
                                    value="currentCompany.father"
                                    search-method="getPerson(param)"
                                    field="name"
                                    authorize-add="false"
                                    display-info="false"
                                    disabled="!!currentCompany.id"
                                    on-select="getFatherFat(value)">
                                <match>
                                    <div>{{match.model.name}}</div>
                                </match>
                            </gumga-many-to-one>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="instance" style="margin-top:30px">
                        <h1> Instance</h1>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="role" style="margin-top:30px">
                        <h1> Role</h1>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px" ng-if="currentCompany.id" >
            <div ng-controller="PersonFormController"
                 buddy-include="{entity: {data: currentCompany}, returnCallBack : null, updateCallBack: null }">
                <div ng-include src="'bower_components/buddy-person-front/app/modules/person/views/form.html'">
                </div>

            </div>
        </div>


        <button type="button" class="btn gmd fab btn-success fixed" ng-click="update(currentCompany)"
                ng-disabled="blockBtnSave()">
            <i class="material-icons">{{currentCompany.id? 'save' : 'add'}}</i>
        </button>
        <button type="button" class="btn btn-warning gmd fab fixed" style="right: 95px" ng-click="clean()">
            <i class="material-icons">clear</i>
        </button>
    </div>
</form>